{% extends "base/base.html" %}
{% block content %}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
        align-items: center;
        padding: 5px;
    }
    .grid-item {
        position: relative;
    }
    .image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 10px;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .grid-item:hover .button {
        opacity: 1;
    }
    .grid-item:hover .image {
        opacity: 0.5;
    }
    .upload-new {
        display: block;
        text-decoration: none;
        color: white;
        padding: 5px;
        background-color: grey;
        border-radius: 5px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .upload-new:hover {
        background-color: darkgrey;
    }
</style>

<div class="grid-container">
    <div class="grid-item"><a class="upload-new" href="{% url "base:photo_upolad_to_gallery" pk=pk %}">+ Upload new images</a></div>
    <div class="grid-item"><a class="upload-new" href="{% url "base:download_all" pk=pk %}">Download all</a></div>
    <div class="grid-item"><a class="upload-new" href="{% url "base:galleries" %}">Galleries</a></div>
</div>

<div class="grid-container">
    {% for image in images %}
    <div class="grid-item">
        <img class="image" src="{{image.image.url}}">
        <a class="button" href="{{image.image.url}}" download>Download</a>
    </div>
    {% endfor %}
</div>

{% endblock content %}